@{
    Layout = null;
    this.Session["Ext.Net.Theme"] = Ext.Net.Theme.Gray;
}

<!DOCTYPE html>

<html>
<head>
    <title>Ext.NET MVC Examples - Open Source ASP.NET Web Controls with Sencha Ext JS</title>    
    <link rel="stylesheet" href="@Url.Content("~/resources/css/main.css")" />
	<script src="@Url.Content("resources/js/main.js")"></script>
</head>
<body>
    @Html.X().ResourceManager()
    @Html.X().History().Listeners(l => l.Change.Fn = "change")

    @RenderPage("~/Views/Main/_ViewPort.cshtml")
    
    @*this form is required for example downloading*@
    <form id="downloadForm" class="x-hidden"></form>

    <script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19135912-3']);
		_gaq.push(['_setDomainName', '.ext.net']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_setAllowHash', false]);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>
